:root {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    margin: 0;
}
.controls {
    background-color: rgba(133, 133, 133, 0.596);
    border-radius: 10px;
    position: absolute;
    top: 2%;
    right: 2%;
    max-width: 300px;
    min-height: 200px;
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input {
    -moz-appearance: textfield; /* Firefox */
    border-radius: 10px;
}
[type=number] {
    max-width: 30px;
}
.control-group-name {
    margin-bottom: 2px;
}
.control-name {
    margin-right: 5px;
    font-size: 12px;
}
.control-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.control-group > .control-name {
    flex: 1 0 20%;
    max-width: 80px;
}
.control-group > [type=range] {
    flex: 1 0 30%;
}
.control-group > [type=number] {
    flex: 1 0 20%;
}
.loading-screen {
    background-color: black;
    height: 100vh;
}